html,
body,
#app {
  height: 100%;
}

.h-full {
  height: 100%;
}

.fr-h2 a {
  --underline-img: none;
}

.fr-h2 a:hover {
  --underline-img: linear-gradient(0deg, currentColor, currentColor);
}

.fr-h2 a:hover::after {
  content: "#";
  display: inline-flex;
  margin-left: 4px;
}

.container-for-two {
  @apply grid grid-cols-2 gap-10 <md:flex <md:flex-col mb-2;
}

.container-for-two > .fr-callout {
  margin: 0;
}

.section-separator {
  @apply my-10;
  background-image: none;
}

.fr-tile:hover {
  background-color: var(--background-default-grey);
}

.fr-share__title {
  @apply mb-8;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.fr-btn--cloud-pi-native::before {
  mask-image: url("/icons/buildings/government-fill.svg");
  mask-size: 100% 100%;
}

.fr-tabs__list {
  @apply <md:flex <md:flex-col !<md:items-center;
}

.fr-tabs__list li {
  @apply <md:my-1;
}

.dso-landing-footer.fr-footer {
  box-shadow: inset 0 2px 0 0 var(--border-plain-blue-france);
}

.dso-landing-footer .fr-footer__bottom {
  display: none;
}

.fr-icon-clipboard-line.icon {
  @apply cursor-pointer ml-2 p-1;
  color: var(--text-action-high-blue-france);
}

.fr-icon-clipboard-line.icon:hover {
  background-color: var(--hover);
}

.fr-icon-clipboard-line.icon:active {
  background-color: var(--active);
}